<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Wishlist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div id="cart">
      <div class="secHeading">
        <h2>Your Wishlist (3)</h2>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-shopping-cart"></i> Add to Cart</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-shopping-cart"></i> Move to wishlist</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-shopping-cart"></i> Move to wishlist</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
