<ion-header>
  <div class="left">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo"><img src="../assets/logo.png" alt=""></div>
  </div>
  <div class="right">
    <a [routerLink]="['/cart']"><img src="../assets/buy.svg" alt=""><span>5</span></a>
    <a [routerLink]="['/cart']"><img src="../assets/heart.svg" alt=""></a>
    <a [routerLink]="['/cart']"><img src="../assets/notification.svg" alt=""></a>
  </div>
</ion-header>

<ion-content>
  <div class="main">
    <div class="about">
      <h2>About Us</h2>
      <div class="thumb">
        <img src="../assets/slide01.jpg" alt="">
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed.</p>
      <p>Dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed.</p>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div class="gridList">150+ users</div>
          </ion-col>
          <ion-col size="6">
            <div class="gridList">50+ stores</div>
          </ion-col>
          <ion-col size="6">
            <div class="gridList">1.5M+ orders</div>
          </ion-col>
          <ion-col size="6">
            <div class="gridList">100+ Brands</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p>Dolorem consequatur earum facilis recusandae et. Cumque perspiciatis, nemo illo repellendus reiciendis modi sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae laborum cum quam, vel mollitia quibusdam aliquam, dolorem consequatur earum facilis recusandae et.</p>
    </div>
  </div>
</ion-content>
