<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div id="profile">
      <div class="userThumb">
        <img src="/assets/blank-dp.jpg" alt="">
      </div>
      <h2 class="name">Alex Brahar</h2>
      <form action="">
        <div class="secHeading">
          <h2>Personal Details</h2>
        </div>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">First Name *</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Last Name *</ion-label>
          <ion-input formControlName="last_name" placeholder="Brahar" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Date of Birth *</ion-label>
          <ion-input formControlName="last_name" type="date" required></ion-input>
          <!-- <ion-datetime locale="fr-FR"></ion-datetime> -->
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Gender *</ion-label>
          <ion-select class="custom-options">
            <ion-select-option value="brown">Male</ion-select-option>
            <ion-select-option value="blonde">Female</ion-select-option>
            <ion-select-option value="black">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="secHeading">
          <h2>Security</h2>
        </div>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Phone number *</ion-label>
          <ion-input formControlName="phone_no" placeholder="+91 9830 123456" type="number" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Email *</ion-label>
          <ion-input formControlName="email" placeholder="alexbrahar@mail.com" type="email"></ion-input>
        </ion-item>
      </form>
      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-router-link class="btn-link wishlink" href="#">CANCEL</ion-router-link>
            </ion-col>
            <ion-col size="6">
              <ion-router-link class="btn-primary" color="danger" href="#">Save Details</ion-router-link>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
