<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Benarasi</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="categoryList">
  <div class="main">
    <div id="subCategoryList">

      <ion-router-link class="box">
        <div class="inner bg1">
          <div>
            <h3>Benarasi Saree</h3>
            <p>Maxime iste natus deserunt aliquam, eveniet veniam distinctio repellat..</p>
          </div>
        </div>
        <img src="assets/category1.png" alt="">
      </ion-router-link>


      
      <ion-accordion-group>
        <ion-accordion value="colors">
          <ion-item slot="header">
            <ion-label>Colors</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <ion-item>
              <ion-label>Red</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Green</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Blue</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="shapes">
          <ion-item slot="header">
            <ion-label>Shapes</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <ion-item>
              <ion-label>Circle</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Triangle</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Square</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
        <ion-accordion value="numbers">
          <ion-item slot="header">
            <ion-label>Numbers</ion-label>
          </ion-item>
      
          <ion-list slot="content">
            <ion-item>
              <ion-label>1</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>2</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>3</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
      
     

    </div>
  </div>
</ion-content>
