<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Delivery Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div id="deliveryDetails" >
      <form action="">
        <div class="addressList">
          <div class="listitem active">
            <div class="radio"></div>
            <h5>Arthur M Willingham</h5>
            <p>
              3059  Elk City Road Indianapolis,<br>Indiana IN 46229<br>
              <strong>Phone No: 317-898-0622</strong>
            </p>
            <div class="btnGrp">
              <a [routerLink]="['/']">Remove</a><a [routerLink]="['/']">Edit</a>
            </div>
          </div>
          <div class="listitem">
            <div class="radio"></div>
            <div class="tag">Office</div>
            <h5>Arthur M Willingham</h5>
            <p>
              3059  Elk City Road Indianapolis,<br>Indiana IN 46229<br>
              <strong>Phone No: 317-898-0622</strong>
            </p>
            <div class="btnGrp">
              <a [routerLink]="['/']">Remove</a><a [routerLink]="['/']">Edit</a>
            </div>
          </div>
        </div>
        <a class="btn btn-outline" color="primary" [routerLink]="['/add-address']">Add new Address</a>
      </form>
      <hr>
      <div class="secHeading">
        <h2>Expected Delivery</h2>
      </div>
      <div class="deliveryList">
        <ion-row>
          <ion-col size="12" class="list">
            <div class="thumb">
              <img src="/assets/slide01.jpg" alt="">
            </div>
            <div class="cont">
              <h5>Pink Hoodie t-shirt full </h5>
              <p>Delivery by <time>25th July</time></p>
            </div>
          </ion-col>
          <ion-col size="12" class="list">
            <div class="thumb">
              <img src="/assets/slide01.jpg" alt="">
            </div>
            <div class="cont">
              <h5>Pink Hoodie t-shirt full </h5>
              <p>Delivery by <time>25th July</time></p>
            </div>
          </ion-col>
          <ion-col size="12" class="list">
            <div class="thumb">
              <img src="/assets/slide01.jpg" alt="">
            </div>
            <div class="cont">
              <h5>Pink Hoodie t-shirt full </h5>
              <p>Delivery by <time>25th July</time></p>
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-router-link class="wishlink price" href="#"> ₹270.00</ion-router-link>
            </ion-col>
            <ion-col size="7">
              <ion-router-link class="btn-primary" color="danger" href="#">Proceed to payment</ion-router-link>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>
</ion-content>
