<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="categoryList">
  <div class="main">
    <ion-grid>
      <ion-router-link class="box">
        <div class="inner bg1">
          <div>
            <h3>Men</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="assets/category1.png" alt="">
      </ion-router-link>
      <ion-router-link class="box" (click)="openCategory()">
        <div class="inner bg2">
          <div>
            <h3>Women</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="assets/category1.png" alt="">
      </ion-router-link>
      <ion-router-link class="box" (click)="openCategory(benarasi-list)">
        <div class="inner bg1">
          <div>
            <h3>Benarasi Sare</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="assets/category1.png" alt="">
      </ion-router-link>
      <ion-router-link class="box" (click)="openCategory()">
        <div class="inner bg2">
          <div>
            <h3>Women</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="assets/category1.png" alt="">
      </ion-router-link>
    </ion-grid>

    <ng-container *ngIf="openCategory === 'benarasi-list'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ng-container>
              <h3 class="ion-padding-start">1</h3>
              <ion-item lines="none">
                <ion-label>Date</ion-label>
                <ion-note slot="end" color="primary">23-03-2021</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Note</ion-label>
                <ion-note slot="end" color="primary">Cash</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Payment Mode</ion-label>
                <ion-note slot="end" color="primary">Cash</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Paid Amount (₹)</ion-label>
                <ion-note slot="end" color="primary">₹100.00</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Action</ion-label>
                <ion-note slot="end" color="primary">-</ion-note>
              </ion-item>
              <hr>
            </ng-container>
            <ng-container>
              <h3 class="ion-padding-start">2</h3>
              <ion-item lines="none">
                <ion-label>Date</ion-label>
                <ion-note slot="end" color="primary">23-03-2021</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Note</ion-label>
                <ion-note slot="end" color="primary">Cash</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Payment Mode</ion-label>
                <ion-note slot="end" color="primary">Cash</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Paid Amount (₹)</ion-label>
                <ion-note slot="end" color="primary">₹100.00</ion-note>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Action</ion-label>
                <ion-note slot="end" color="primary">-</ion-note>
              </ion-item>
              <hr>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content>
