<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start">
      <ion-content>
        <ion-list id="inbox-list">
          
          <ion-item class="profileHead" lines="full">
            <ion-list-header><img class="userPic" src="/assets/blank-dp.jpg" alt=""><div>Hello, <span>Sreekanta Shee</span></div></ion-list-header>
          </ion-item>
          
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <!-- <ion-item routerDirection="root" *ngIf="p.title != 'Logout'" [routerLink]="[p.url]" lines="full" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item> -->
            <ion-item routerDirection="root" *ngIf="p.title != 'Logout'" [routerLink]="[p.url]" lines="full" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>Home<br><span>Offers, Top Deals, Top Brands</span></ion-label>
            </ion-item>
            <ion-item routerDirection="root" *ngIf="p.title == 'Logout'" (click)='logout()' lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
        </ion-list>

        

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>