<ion-content class="ion-padding login" fullscreen="true">
  <img class="body-bg" src="/assets/body-bg.png" alt="">
  <div class="account">
    <ion-row class="head">
      <ion-text>
        <h1 class="ion-text-left">Hey,<br>Login Now</h1>
      </ion-text>
    </ion-row>
    <form [formGroup]="loginForm">
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Phone number *</ion-label>
        <ion-input formControlName="phone_no" type="number" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Password *</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-row class="ion-justify-content-end">
        <ion-text>
          <ion-router-link [routerLink]="['/forgotpassword']">Forgot password?</ion-router-link>
        </ion-text>
      </ion-row>
      <ion-button expand="block" class="btn ion-margin-bottom" [routerLink]="['/home']">Sign in</ion-button>
    </form>

    <div class="loginFooter">
      <div class="dviders">
        <span>Or sign in with</span>
      </div>
      <div class="social">
        <ion-router-link [routerLink]="['/']"><img src="/assets/facebook.svg" alt=""></ion-router-link>
        <ion-router-link [routerLink]="['/']"><img src="/assets/twitter.svg" alt=""></ion-router-link>
      </div>
      <ion-text>
        If you are new,
        <ion-router-link [routerLink]="['/register']">Create Now</ion-router-link>
      </ion-text>
    </div>
  </div>
</ion-content>