<ion-header>
    <div class="left">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <!-- <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons> -->
      <div class="logo"><img src="../assets/logo.png" alt=""></div>
    </div>
    <div class="right">
      <a [routerLink]="['/cart']"><img src="../assets/buy.svg" alt=""><span>5</span></a>
      <a [routerLink]="['/cart']"><img src="../assets/heart.svg" alt=""></a>
      <a [routerLink]="['/cart']"><img src="../assets/notification.svg" alt=""></a>
    </div>
</ion-header>

<ion-content>
  <div class="main">
    <ion-slides id="banner">
      <ion-slide>
        <div class="slide">
          <img src="../assets/slide01.jpg" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="../assets/slide01.jpg" />
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <img src="../assets/slide01.jpg" />
        </div>
      </ion-slide>
    </ion-slides>
    <ion-item>
      <div class="secHeading">
        <h2>Deals of the Day</h2>
        <ion-router-link href="#">See All</ion-router-link>
      </div>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col class="verticalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
        <ion-col class="verticalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
        <ion-col class="verticalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="horizontalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
        <ion-col size="6" class="horizontalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
        <ion-col size="6" class="horizontalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
        <ion-col size="6" class="horizontalProduct">
          <div class="wish"><i class="las la-heart"></i></div>
          <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
          <div class="content">
            <h3>Pink Hoodie t-shirt full</h3>
            <p>by Mango</p>
            <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="saleBanner">
      <img src="../assets/sale-banner.png" alt="">
    </div>
  </div>

  

  <div id="fixedMenu">
    <a [routerLink]="['/home']">
      <img src="../assets/home.svg" alt="">
      <span>Home</span>
    </a>
    <a [routerLink]="['/category-list']">
      <img src="../assets/category.svg" alt="">
      <span>Category</span>
    </a>
    <a [routerLink]="['/cart']">
      <img src="../assets/buy.svg" alt="">
      <div>Cart <span>5</span></div>
    </a>
    <a [routerLink]="['/wishlist']">
      <img src="../assets/heart.svg" alt="">
      <span>Wishlist</span>
    </a>
    <a [routerLink]="['/profile']">
      <img src="../assets/profile.svg" alt="">
      <span>Profile</span>
    </a>
  </div>

</ion-content>
