<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div id="cart">
      <div class="secHeading">
        <h2>Shopping Cart</h2>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <div class="flex">
                <ion-select class="custom-options">
                  <ion-select-option value="1">Qty: 1</ion-select-option>
                  <ion-select-option value="2">Qty: 2</ion-select-option>
                  <ion-select-option value="3">Qty: 3</ion-select-option>
                  <ion-select-option value="4">Qty: 4</ion-select-option>
                  <ion-select-option value="5">Qty: 5</ion-select-option>
                </ion-select>
                <ion-select class="custom-options">
                  <ion-select-option value="s">Size: S</ion-select-option>
                  <ion-select-option value="blonde">Size: M</ion-select-option>
                  <ion-select-option value="black">Size: L</ion-select-option>
                  <ion-select-option value="black">Size: XL</ion-select-option>
                </ion-select>
              </div>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-heart"></i> Move to wishlist</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <div class="flex">
                <ion-select class="custom-options">
                  <ion-select-option value="1">Qty: 1</ion-select-option>
                  <ion-select-option value="2">Qty: 2</ion-select-option>
                  <ion-select-option value="3">Qty: 3</ion-select-option>
                  <ion-select-option value="4">Qty: 4</ion-select-option>
                  <ion-select-option value="5">Qty: 5</ion-select-option>
                </ion-select>
                <ion-select class="custom-options">
                  <ion-select-option value="s">Size: S</ion-select-option>
                  <ion-select-option value="blonde">Size: M</ion-select-option>
                  <ion-select-option value="black">Size: L</ion-select-option>
                  <ion-select-option value="black">Size: XL</ion-select-option>
                </ion-select>
              </div>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-heart"></i> Move to wishlist</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
          <ion-col class="verticalProduct">
            <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
              <div class="flex">
                <ion-select class="custom-options">
                  <ion-select-option value="1">Qty: 1</ion-select-option>
                  <ion-select-option value="2">Qty: 2</ion-select-option>
                  <ion-select-option value="3">Qty: 3</ion-select-option>
                  <ion-select-option value="4">Qty: 4</ion-select-option>
                  <ion-select-option value="5">Qty: 5</ion-select-option>
                </ion-select>
                <ion-select class="custom-options">
                  <ion-select-option value="s">Size: S</ion-select-option>
                  <ion-select-option value="blonde">Size: M</ion-select-option>
                  <ion-select-option value="black">Size: L</ion-select-option>
                  <ion-select-option value="black">Size: XL</ion-select-option>
                </ion-select>
              </div>
              <hr>
              <div class="link">
                <a class="move" href="#"><i class="las la-heart"></i> Move to wishlist</a>
                <a class="delete" href="#"><i class="las la-trash"></i> Remove</a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <div class="secHeading">
        <h2>Coupons:</h2>
      </div>
      <form class="coupon">
        <ion-item lines="none" class="input zip">
          <div class="icon"><i class="las la-tags"></i></div>
          <ion-input type="text" placeholder="Apply Coupons" required></ion-input>
          <ion-router-link class="" href="#"><i class="las la-angle-right"></i></ion-router-link>
        </ion-item>
      </form>
      <hr>
      <div class="secHeading">
        <h2>Order Details:</h2>
      </div>
      <ion-list>
        <ion-item lines="none">
          <ion-label>Bag total</ion-label>
          <ion-note slot="end">$220.00</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Bag savings</ion-label>
          <ion-note slot="end">-$20.00</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Coupon Discount</ion-label>
          <ion-note slot="end">$20.00</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Delivery</ion-label>
          <ion-note slot="end">$50.00</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label><strong>Total Amount</strong></ion-label>
          <ion-note slot="end"><strong>$270.00</strong></ion-note>
        </ion-item>
      </ion-list>
      <ion-text class="noBtn"><i class="las la-truck"></i> No Delivery Charges applied on this order</ion-text>
      <hr>
      <ion-grid class="ionList">
        <ion-row>
          <ion-col size="4">
            <div class="icon"><img src="../assets/returning.svg" alt=""></div>
            7 Day Return
          </ion-col>
          <ion-col size="4">
            <div class="icon"><img src="../assets/24-hours.svg" alt=""></div>
            24/7 Support
          </ion-col>
          <ion-col size="4">
            <div class="icon"><img src="../assets/wallet.svg" alt=""></div>
            Secure Payment
          </ion-col>
        </ion-row>
      </ion-grid>


      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <a class="wishlink price" [routerLink]="['/cart']"> ₹270.00</a>
            </ion-col>
            <ion-col size="6">
              <a [routerLink]="['/cart']"></a>
              <a class="btn-primary" color="danger" [routerLink]="['/delivery-details']">PLACE ORDER</a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
