<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Address</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div id="addaddress">
      <form action="">
        <div class="secHeading">
          <h2>Add a new address</h2>
        </div>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Full Name</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Mobile Number</ion-label>
          <ion-input formControlName="last_name" placeholder="Brahar" type="Number" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Pin Code</ion-label>
          <ion-input formControlName="last_name" placeholder="Brahar" type="Number" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Flat, house No., building..</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Area, colony, street</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Landmark</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">Town/city</ion-label>
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item>
        <ion-item lines="none" class="input">
          <ion-label position="stacked">State/Province/Region</ion-label>
          <ion-select [value]="['checked']">
            <ion-select-option value="checked">Select State</ion-select-option>
            <ion-select-option value="bird">West Bengal</ion-select-option>
            <ion-select-option value="cat">Andhra Pradesh</ion-select-option>
            <ion-select-option value="dog">Bihar</ion-select-option>
            <ion-select-option value="dog">Goa</ion-select-option>
            <ion-select-option value="dog">Odisha</ion-select-option>
          </ion-select>
        </ion-item>
        <hr>
        <div class="secHeading">
          <h2>Type Of Address</h2>
        </div>
        <ion-radio-group class="addresstype" value="home">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-item lines="none">
                  <ion-label>Home</ion-label>
                  <ion-radio slot="start" color="primary" name="addresstype" value="home"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item lines="none">
                  <ion-label>Office</ion-label>
                  <ion-radio slot="start" color="primary" name="addresstype" value="office"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="4">
                <ion-item lines="none">
                  <ion-label>Others</ion-label>
                  <ion-radio slot="start" color="primary" value="others"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
        <ion-item lines="none" class="checkbox">
          <ion-label>Make Default Address  </ion-label>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
        </ion-item>
      </form>

      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-router-link class="wishlink price" href="#"> RESET</ion-router-link>
            </ion-col>
            <ion-col size="6">
              <ion-router-link class="btn-primary" color="danger" href="#">Add Address</ion-router-link>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>
</ion-content>
