/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* COLORS VARIABLED */
$family1: 'Lato', sans-serif;
$dark: #1a1a1a;
$dark-1: #6d6c7b;
$dark-2: #97959e;
$light-1: #fff;
$light-2: #eee;
$light-3: #f2f4f7;
$gray: #F8F9FB;
$primary: #f03827;
$red: #f99f9f;
$yellow: #ffd630;
$blue: #b2d9ff;
$green: #b2ffc2;
$pink: #e6a4e1;
$shadow1: 2px 2px 10px rgba($primary, 0.2);
$shadow2: 0 -10px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba($primary, 0.2);

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: $light-1;
}
h1, h2, h3, h4, h5, h6 { font-family: $family1; margin: 0 0 15px; }
h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: -0.5px;
}
h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
h6 {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 15px;
}
a { text-decoration: none; }

.ion-padding {
  --padding-start: 35px;
  --padding-end: 35px;
  --padding-top: 35px;
  --padding-bottom: 35px;
}
.account {
  .head { margin-bottom:40px; }
  .footer { margin-top:50px; }
  ion-button { margin-top:30px; }
}
button, .button-native { border-radius: 4px !important; }
.btn { display: block; font-weight: 400; text-align: center; text-transform: uppercase; letter-spacing: 1px; padding: 10px 15px; border-radius: 4px;
  &.btn-primary { background: $primary; color: var(--ion-color-light); }
  &.btn-outline { background: none; border: 1px solid $primary; color: $primary; }
}
hr { background-color: #ddd; }
ion-grid.table {
  ion-row:first-child {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    font-weight: 700;
    text-align: center;
  }
  ion-col {
    border-bottom: 0;
    border-right: 0;
    &.name {
      color: var(--ion-color-primary);
      text-decoration: none;
    }
  }
}
ion-item { --padding-start: 0; --padding-end: 0; background: none !important; }

form {
  ion-button {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  ion-item { --padding-start: 0; --inner-padding-end: 0;
    --background: transparent !important;
    &.input {
      margin-bottom: 5px;
      overflow: visible;
      --padding-start: 0;
      --inner-padding-end: 0;
      ion-label {
        position: relative;
        background: $light-1 !important;
        padding: 0 5px;
        z-index: 20;
        font-weight: 500 !important;
        letter-spacing: 1px;
        font-size: 15px !important;
        line-height: 1 !important;
        color: $dark-2 !important;
        display: table !important;
        margin: 0 auto 0 15px!important;
        transform: translateY(9px);
      }
      ion-input,
      ion-datetime,
      ion-select {
        font-weight: 500 !important;
        font-size: 14px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $dark-1;
        border-radius: 5px;
        background: transparent !important;
        box-shadow: none;
        padding: 15px !important;
        input {
          padding: 0 !important;
          height: auto !important;
        }
      }
      ion-textarea {
        font-weight: 600 !important;
        font-size: 15px !important;
        line-height: 20px !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $light-2;
        border-radius: 5px;
        background: $light-1 !important;
        box-shadow: $shadow1;
        padding: 12px 20px !important;
        input {
          padding: 0 !important;
        }
      }
      ion-select {
        font-weight: 500 !important;
        font-size: 15px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $dark-1;
        border-radius: 5px;
        background: transparent !important;
        box-shadow: none;
        padding:17px 15px !important;
        select {
          padding: 0 !important;
        }
      }
      ion-checkbox {
        font-weight: 500 !important;
        font-size: 15px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        width: 100% !important;
        margin: 0 !important;
        border: 1px solid $dark-1;
        border-radius: 5px;
        background: transparent !important;
        box-shadow: none;
      }
      .info {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 18px !important;
        color: $dark-2 !important;
        margin: 5px 0 0 !important;
      }
      .placeholder {
        font-weight: 700 !important;
        font-size: 15px !important;
        line-height: 1 !important;
        color: $dark-1 !important;
        letter-spacing: 1px !important;
        margin: 0 !important;
        word-break: break-all;
      }
    }
    &.input.m0 {
      margin-bottom: 0 !important;
    }
  }
  .custom-checbox {
    margin: 0 0 15px !important;
    ion-label {
      font-weight: 400 !important;
      font-size: 13px !important;
      line-height: 13px !important;
      color: $dark-2 !important;
      margin: 0 !important;
      text-overflow: unset !important;
      white-space: unset !important;
      overflow: visible !important;
      padding-left: 10px;
    }
  }
}

body {
  --background: $light-3;
  font-family: $family1;
  color: $dark-1;
  ion-header {
    background: $light-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px !important;
    --border-width: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    overflow: hidden !important;
    &.header-md::after {
      display: none;
    }
    .left { width: 60%; display: flex; align-items: center; justify-content: flex-start;
      ion-text { text-align: left; font-size: 18px; font-weight: 600; }
      .logo { width: 100%; height: 25px; object-fit: contain; }
    }
    .right { width: 40%; display: flex; align-items: center; justify-content: flex-end;
      a { margin-right: 16px; position: relative;
        &:last-child { margin: 0; }
        img { width: 22px; height: 22px; object-fit: contain; }
        span { position: absolute; top:-5px; right:-8px; width: 18px; height: 18px; display: flex; align-items: center; justify-content: center; font-size: 12px; border-radius: 50%; background:var(--ion-color-primary); color: #fff; }
      }
    }
      
  }
  // ion-header {
  //   --background: transparent !important;
  //   &.header-md::after {
  //     display: none;
  //   }
  //   ion-toolbar {
  //     padding: 5px 10px !important;
  //     --border-width: 0 !important;
  //     box-shadow: $shadow1 !important;
  //     border-radius: 0 !important;
  //     overflow: hidden !important;
  //     display: flex !important;
  //     justify-content: space-between;
  //     align-items: center;
  //     ion-title {
  //       img {
  //         width: auto !important;
  //         height: 40px !important;
  //         display: block;
  //         margin: 0 0 0 auto;
  //       }
  //     }
  //     ion-buttons {
  //       ion-menu-button {
  //         // background: $primary;
  //         color:var(--ion-color-dark);
  //         border-radius: 4px;
  //         width: 40px;
  //         height: 40px;
  //       }
  //     }
  //     .left { width: 50%; }
  //     .right { width: 50%; display: flex; align-items: center; justify-content: flex-end;
  //       a { margin-right: 16px;
  //         &:last-child { margin: 0; }
  //         img { width: 25px; height: 25px; object-fit: contain; }
  //       }
  //     }
  //   }
  // }
  ion-menu {
    background: rgba($primary, 0.5) !important;
    ion-content {
      --padding-start: 10px !important;
      --padding-end: 10px !important;
      --box-shadow: -5px 0 30px #000;
      border-radius: 40px 0 0 40px;
      --overflow: visible !important;
      z-index: 1000 !important;
      overflow: hidden;
      ion-list {
        padding: 0 !important;
        .profileHead {
          ion-list-header {
            padding: 15px 0 !important;
            margin: 0;
            min-height: 0;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .userPic {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 15px;
            }
            span {
              display: block;
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
      ion-router-link {
        color: $dark-2;
        font-size: 15px;
        font-weight: 700;
      }
      ion-item {
        --padding-start: 16px !important;
        --padding-end: 16px !important;
        --min-height: auto !important;
        --padding-top: 15px !important;
        --padding-bottom: 15px !important;
        ion-label {
          margin: 0 !important;
          font-weight: 400;
          span {
            font-size: 13px;
            font-weight: 400;
            color: $dark-1;
          }
        }
      }
    }
    
  }
  ion-router-outlet {
    background: $light-3 !important;
    &.hasHeader {
      padding-top: 65px !important;
    }
    &.hasTab {
      padding-bottom: 57px !important;
    }
    ion-content {
      background: $light-3 !important;
      &.login {
        .body-bg { width: 250px; height: auto; position: absolute; right: 0; top: 0; object-fit: contain; }
        ion-grid {
          position: relative;
          min-height: 100vh !important;
          background: url("/assets/login.png") no-repeat 50% 100% / 100% auto;
          padding-bottom: 75vw !important;
          &.noimg {
            background: none !important;
            padding-bottom: 0 !important;
          }
          .logo {
            display: block;
            margin: 10px auto 30px;
            width: 70%;
            max-width: 200px;
          }
          form {
            background: $light-1;
            padding: 20px;
            margin: 0 0 20px;
            border-radius: 10px;
            box-shadow: 2px 8px 30px rgba($primary, 0.2);
            .link {
              color: $primary;
              font-weight: 700 !important;
              font-size: 14px !important;
              line-height: 1 !important;
            }
            .verfi {
              display: flex;
              justify-content: space-between;
              width: calc(100% + 10px) !important;
              margin-left: -5px !important;
              margin-right: -5px !important;
              ion-input {
                width: 30px !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: 5px !important;
                margin-right: 5px !important;
                input {
                  padding-right: 0 !important;
                  text-align: center;
                }
              }
            }
          }
        }
        .loginFooter {
          margin-top: 50px;
          text-align: center;
          display: block;
          .dviders {
            width: 100%;
            height: 2px;
            background: $dark-2;
            margin-bottom: 20px;
            position: relative;
            span {
              background: $light-1;
              padding: 0 10px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px 0;
            ion-router-link {
              margin: 0 5px;
              border-radius: 5px;
              overflow: hidden;
              background: $light-2;
              width: 50px;
              height: 50px;
              padding: 10px;
            }
          }
        }
        .skip {
          text-align: center;
          color: $primary;
          font-weight: 700;
          margin: 5px 0 0;
          font-size: 14px;
        }
        .bubble {
          width: 100%;
          display: flex;
          justify-content: start;
          .speech-bubble {
            -webkit-filter: drop-shadow(0px 0px 1px $dark-1) drop-shadow(0px 0px 0px $dark-1);
            filter: drop-shadow(0px 0px 1px $dark-1) drop-shadow(0px 0px 0px $dark-1);
            margin: 0;
            padding: 8px 40px;
            text-align: center;
            position: relative;
            font-weight: 700 !important;
            font-size: 14px !important;
            line-height: 1 !important;
            background: $light-3 !important;
            border-radius: 30px;
            color: $primary;
            &::before {
              border: 12.5px solid transparent;
              border-top: 12.5px solid $light-3;
              border-bottom: 0;
              height: 0;
              width: 0;
              border-top-width: 25px;
              content: "";
              display: block;
              position: absolute;
              left: 2.5rem;
              bottom: -25px;
              -webkit-transform-origin: center;
              transform-origin: center;
              -webkit-transform: rotate(0deg) skew(30deg) translateY(-1px);
              transform: rotate(0deg) skew(30deg) translateY(-1px);
            }
          }
        }
      }
      &.categoryList {
        .spacer { padding: 10px 0; }
        .box {
          position: relative;
          display: block;
          margin-bottom:20px;
          .inner {
            padding: 10px 100px 10px 20px;
            border-radius: 10px;
            border-width: 0;
            border-style: solid;
            height: 120px;
            display: flex;
            align-items: center;
            &.bg1 {
              background: #edeff4;
            }
            &.bg2 {
              background: #ebebeb;
            }
            h3 {
              font-weight: 400 !important;
              font-size: 20px !important;
              line-height: 20px !important;
              letter-spacing: 1px;
              color: $dark-1 !important;
              margin: 0 0 5px !important;
              text-transform: uppercase;
            }
            p {
              font-family:$family1;
              font-weight: 400 !important;
              font-size: 14px !important;
              line-height: 15px !important;
              color: var(--ion-color-medium) !important;
              margin: 0 !important;
            }
          }
          img {
            width: auto;
            height: 130px;
            position: absolute;
            right: 1px;
            bottom: 1px;
            border-radius: 0 0 9px 0;
          }
        }
      }
    }
  }
  .sticky {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-1);
    padding: 8px 20px 10px;
    height: 65px;
    box-shadow: $shadow1 !important;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      ion-icon {
        display: block;
        width: 100%;
        font-size: 25px;
        margin-bottom: 3px;
        color: var(--primary);
      }
      ion-label {
        font-size: 11px;
        line-height: 1;
        color: var(--dark-1);
        text-align: center;
      }
    }
  }

  ion-content {
    .main {
      padding:10px 15px 70px 15px;
      hr { margin: 25px 0; }
      ion-grid {
        padding: 0;
      }
      .pageLink { position: fixed; z-index: 50; bottom: 0; left: 0; width: 100%; padding: 10px; background: $light-1; border-top: 1px solid var(--ion-color-gray);
        ion-col { text-align: center;
          ion-router-link { font-family: $family1; font-weight: 500; text-transform: uppercase; letter-spacing: 1px; display: flex; align-items: center; height: 100%; justify-content: center;
            i { font-size: 20px; }
            &.price { font-size: 18px; font-weight: 700; }
          }
          .btn-link { display: block; background:none; color: var(--ion-color-primary); padding: 10px 15px; }
          .btn-primary { display: block; background: $primary; font-weight: 400; color: var(--ion-color-light); padding: 10px 15px; border-radius: 4px; }
        }
      }
      .secHeading {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        h2 {
          font-family: $family1;
          font-size: 20px;
          line-height: 1;
          font-weight: 500;
          margin: 0;
        }
        p { margin: 0; }
        ion-router-link {
          font-family: $family1;
        }
      }
      .about {
        .thumb { margin-bottom: 15px;
          img { width: 100%; height: 150px; object-fit: cover; }
        }
        p { text-align: justify; }
        .gridList { background: rgba(var(--ion-color-medium-rgb),0.1); padding: 10px; min-height: 70px; font-size: 20px; display: flex; justify-content: center; align-items: center; }
        ion-grid { margin-bottom: 15px; }
      }
      .verticalProduct {
        background:$gray;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
        position: relative;
        &:last-child { margin-bottom: 0; }
        .thumb {
          width: calc(120px - 15px);
          margin-right: 15px;
          img {
            width: 100%;
            height: 140px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .content {
          hr { margin: 8px 0; }
          h3 { 
            color: $dark;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            margin: 0;
          }
          h4 { font-size: 16px; font-weight: 600; color: $dark; margin-top: 0;
            del { margin: 0 15px 0 10px; font-weight: 400; color: $dark-2; }
            span { color: $primary; }
          }
          p { font-size: 13px; color: $dark-2; font-weight: 400; margin-bottom: 6px; }
          .link { display: flex; align-items: center; justify-content: flex-start;
            a { border-right: 1px solid var(--ion-color-medium); font-family: $family1; font-size: 12px; font-weight: 600; color: var(--ion-color-dark); display: flex; align-items: center;
              &:last-child { border: 0; }
              &.move { padding-right: 10px; }
              &.delete { padding-left: 10px; color: $primary; }
              i { font-size: 15px; margin-right: 4px; }
            }
          }
          .flex { display: flex; justify-content: flex-start; align-items: center;
            ion-select { --padding-top: 6px; --padding-bottom: 6px; --padding-start: 15px; --padding-end: 15px; border-radius: 5px; background: rgba(var(--ion-color-gray-rgb), 0.2); margin-right: 5px; font-size: 14px; }
          }
        }
        .wish {
          position: absolute;
          top: 10px;
          right: 10px;
          width: 30px;
          height: 30px;
          background: $light-1;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 5px 10px rgba($dark, 0.08);
          i { color: $primary; }
        }
      }
      .horizontalProduct {
        padding: 0;
        border-radius: 5px;
        padding: 0 8px;
        margin-bottom: 10px;
        position: relative;
        &:nth-child(2) { margin-right: 0; }
        .thumb {
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 5px;
          }
        }
        .content {
          margin-top: 10px;
          h3 {
            color: $dark;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.2;
            margin: 0 0 5px 0;
          }
          h4 { font-size: 14px; font-weight: 600; color: $dark;
            del { margin: 0 15px 0 10px; font-weight: 400; color: $dark-2; }
            span { color: $primary; }
          }
          p { font-size: 13px; color: $dark-2; font-weight: 400; }
        }
        .wish {
          position: absolute;
          top: 5px;
          right: 13px;
          width: 30px;
          height: 30px;
          background: $light-1;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 5px 10px rgba($dark, 0.08);
          i { color: $primary; }
        }
      }
      .productDetails {
        p { font-family: $family1; font-size: 14px; font-weight: 400; color: var(--ion-color-medium); margin-bottom: 20px; }
        .secHeading { margin-bottom: 5px; }
        #Product {
          .slide {
            img {
              height: 75vh;
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
        .details {
          h2 { font-size: 22px; font-weight: 500; }
          p { font-family: $family1; font-size: 14px; font-weight: 400; color: var(--ion-color-medium); }
          .price { font-size: 20px; color: var(--ion-color-dark);
            del { color: var(--ion-color-gray); margin-right: 10px; }
            span { color: var(--ion-color-danger);}
          }
        }
        .iconList { display: flex; justify-content: flex-start; align-items: center; margin-bottom: 5px;
          i { font-size: 25px; margin-right: 10px; color: var(--ion-color-medium); }
          p { margin: 0; font-size: 15px; color: var(--ion-color-medium); }
        }
        #similarProducts { margin-top: 15px;
          ion-slide { width: 130px !important; margin-right: 15px;
            .slide {
              img {
                width: 100%;
                height: 185px;
                object-fit: cover;
              }
              .content { text-align: left; padding-top: 5px;
                h3 { 
                  color: $dark;
                  font-size: 14px;
                  line-height: 1.2;
                  font-weight: 500;
                  margin: 0 0 5px 0;
                }
                h4 { font-family: $family1; font-size: 12px; font-weight: 700; color: $dark; margin: 0;
                  del { margin: 0 10px 0 5px; color: $dark-2; }
                  span { color: $primary; }
                }
                p { font-size: 13px; color: $dark-2; font-weight: 400; margin-bottom: 10px !important; }
              }
              .wish {
                position: absolute;
                top: 5px;
                right: 5px;
                width: 25px;
                height: 25px;
                background: $light-1;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 5px 10px rgba($dark, 0.08);
                i { color: $primary; }
              }
            }
          }
        }
        .pageLink { position: fixed; z-index: 50; bottom: 0; left: 0; width: 100%; padding: 12px 0; background: $light-1; border-top: 1px solid var(--ion-color-gray);
          ion-col { text-align: center;
            ion-router-link { font-family: $family1; font-weight: 600; letter-spacing: 1px;
              i { font-size: 20px; }
            }
            .wishlink { color: var(--ion-color-dark); }
          }
        }
      }
      #profile {
        .userThumb {
          width: 150px;
          height: 150px;
          margin: 0 auto;
          --padding-start: 0;
          img { 
            padding: 20px;
            background: rgba(var(--ion-color-medium-rgb), 0.1);
            border-radius: 50%;
          }
        }
        .name { text-align: center; }
        ion-button { margin-top: 30px; }
        ion-note { font-size: 14px; font-weight: 600; margin: 0; }
        form {
          padding: 15px;
        }
        .pageLink { position: fixed; z-index: 50; bottom: 0; left: 0; width: 100%; padding: 10px; background: $light-1; border-top: 1px solid var(--ion-color-gray);
          ion-col { text-align: center;
            ion-router-link { font-family: $family1; font-weight: 600; letter-spacing: 1px;
              i { font-size: 20px; }
            }
            .btn-link { display: block; background:none; color: var(--ion-color-primary); padding: 10px 15px; }
            .btn-primary { display: block; background: $primary; color: var(--ion-color-light); padding: 10px 15px; border-radius: 4px; }
          }
        }
      }
      #deliveryDetails { padding: 0 10px;
        .pageLink {
          ion-router-link.btn-primary { font-size: 12px; font-weight: 600; }
        }
        ion-button { display: block; margin-top: 25px; }
        .addressList {
          .listitem { position: relative; width: 100%; background: rgba(var(--ion-color-medium-rgb), 0.05); border: 1px solid rgba(var(--ion-color-gray-rgb), 0.4); padding:20px 20px 20px 50px; border-radius: 4px; margin-bottom: 10px;
            .radio { width: 20px; height: 20px; position: absolute; top: 20px; left: 15px; border:1px solid rgba(var(--ion-color-medium-rgb), 0.4); border-radius: 50%; }
            h5 { font-family: $family1; margin: 0 0 10px; font-size: 15px; font-weight: 600; line-height: 1; }
            p { font-family: $family1; font-weight: 400; margin-bottom: 10px; }
            .btnGrp { display: flex; justify-content: flex-start; align-items: center; margin-top: 15px;
              a { font-family: $family1; color: var(--ion-color-medium); margin-right: 10px; padding: 5px 12px; background:rgba(var(--ion-color-medium-rgb), 0.09); border-radius: 4px; }
            }
            &.active { background: rgba(var(--ion-color-primary-rgb), 0.09); border: 1px solid var(--ion-color-primary);
              .radio:before { content:''; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 8px; height: 8px; border-radius: 50%; background: var(--ion-color-primary); }
              .btnGrp { 
                a { color: var(--ion-color-primary); background:var(--ion-color-light); }
              }
            }
          }
        }
        .deliveryList {
          .list { display: flex; justify-content: flex-start; align-items: center; background: rgba(var(--ion-color-medium-rgb), 0.1); padding: 10px; margin-bottom: 5px;
            .thumb { width: 80px; height: 80px; margin-right: 20px;
              img { width: 100%; height: 100%; object-fit: cover; }
            }
            .cont { width: calc(100% - 100px);
              h5 { font-size: 15px; color: var(--ion-color-medium); margin-bottom: 7px; }
              p { color: var(--ion-color-dark); margin: 0;
                time { color: var(--ion-color-green); }
              }
            }
          }
        }
      }
      #cart {
        ion-item { line-height: 1; --min-height:25px;
          ion-label { margin: 10px 0; font-family: $family1; font-size: 15px; }
          ion-note { margin: 0; font-family: $family1; font-size: 15px; font-weight: 500;
            strong { color: var(--ion-color-dark); }
          }
        }
        form {
          ion-item {
            &.input { position: relative;
              ion-input { border: 0 !important; background: rgba(var(--ion-color-medium-rgb), 0.18) !important;
                input { padding: 0 0 0 35px !important; border: 0 !important; background: transparent !important; font-family: var(--ion-font-family); color:var(--ion-color-dark); }
              }
              .icon { position: absolute; top: 50%; transform: translateY(-50%); left: 15px; font-size: 30px; color: var(--ion-color-dark); }
              ion-router-link { position: absolute; right: 15px; top: 50%; transform: translateY(-50%); font-size: 22px; }
            }
          }
        }
        .noBtn { margin: 20px 0; background: rgba(var(--ion-color-medium-rgb), 0.1); font-family: $family1; font-size: 15px; color: var(--ion-color-dark); padding: 10px 15px; text-align: center; display: flex; justify-content: center; align-items: center;
          i { margin-right: 10px; font-size: 25px; color: var(--ion-color-dark); }
        }
        .ionList { margin-bottom: 30px;
          ion-col { text-align: center; font-family: $family1; font-size: 13px;
            .icon { flex-grow: 1; width: 70px; height: 70px; margin: 0 auto 10px; border-radius: 50%; background: rgba(var(--ion-color-medium-rgb), 0.1); display: flex; justify-content: center; align-items: center;
              img { width: 33px; height: 33px; object-fit: contain; }
            }
          }
        }
      }
      #addaddress { padding: 0 10px;
        ion-radio { margin: 0 7px 0 0 !important; }
        .checkbox { min-height: 30px !important; margin-bottom: 20px;
          ion-checkbox { margin: 0 10px 0 5px !important; }
        }
      }
      #filter {
        .secHeading { padding: 0 0 15px; border-bottom: 1px solid #eee; margin-bottom: 25px;
          i { font-size: 25px; }
        }
        form {
          ion-item { margin-bottom: 15px; }
          ion-label { margin-bottom: 10px; display: block; }
          input { border: 0; background: rgba(var(--ion-color-gray-rgb), 0.2); padding: 15px 15px; border-radius: 5px; }
          .category { margin-bottom: 20px;
            ion-col { padding-right: 5px;
              &:nth-child(2n) { padding-right: 0; }
              .list { background: rgba(var(--ion-color-gray-rgb), 0.2); border-radius: 5px; text-align: center; padding: 10px 5px;
                &.active { background: var(--ion-color-primary); color: var(--ion-color-light); }
              }
            }
          }
          .color { margin-bottom: 20px; display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;
            .list { position: relative; display: flex; justify-content: center; align-items: center; width: 35px; height: 35px; border: 1px solid #ebebeb; background: rgba(var(--ion-color-gray-rgb), 0.2); border-radius: 50%; text-align: center; margin: 0 15px 15px 0; 
              // &:nth-child(7n) { margin-right: 0; }
              &.active { background: var(--ion-color-primary); color: var(--ion-color-light); }
              &.active:before { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); content: '\f00c'; font-family: 'Line Awesome Free'; font-weight: 900; font-size: 20px; color:$light-1; mix-blend-mode: exclusion; }
              &.green { background-color: green; }
              &.black { background-color: black; }
              &.white { background-color: white; }
              &.blue { background-color: blue; }
              &.yellow { background-color: yellow; }
              &.red { background-color: red; }
              &.pink { background-color: pink; }
              &.navy { background-color: navy; }
            }
          }
        }
      }
    }
    .saleBanner { margin: 40px -15px 10px; }
  }
  #fixedMenu { position: fixed; bottom: 0; left: 0; width: 100%; height: 60px; background: $light-1; box-shadow: 0 0 10px rgba($dark, 0.1); display: flex; align-items: center; justify-content: center;
    a { position: relative; margin: 0 10px; display: flex; flex-direction: column; font-family: $family1; font-size: 11px; font-weight: 600; line-height: 1; color: var(--ion-color-dark); text-align: center; text-transform: uppercase;
      i { font-size: 25px; color: $primary; margin-bottom: 3px; width: 100%; }
      img { width: 22px; height: 22px; margin-bottom: 5px; width: 100%; }
      div {
        span { position: absolute; top:-5px; right:-8px; width: 20px; height: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50%; background:var(--ion-color-primary); font-size: 12px; color: #fff; }
      }
    }
  }
}

