<ion-content class="ion-padding" fullscreen="true">
  <div class="account">
    <ion-row class="head">
      <ion-text>
        <h1 class="ion-text-left">Create your account</h1>
        Already have an account?
        <ion-router-link [routerLink]="['/login']">Login</ion-router-link>
      </ion-text>
    </ion-row>
    <form [formGroup]="registrationForm">
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Password *</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-item lines="none" class="input">
        <ion-label position="stacked">Confirm Password *</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>
      <ion-button expand="block" class="ion-margin-bottom" (click)="submitRegister()">Reset Password</ion-button>
    </form>
  </div>
</ion-content>