<ion-content>
  <div class="main">
    <div id="filter">
      <div class="secHeading">
        <h2>Filter</h2>
        <ion-router-link href="#"><i class="las la-times"></i></ion-router-link>
      </div>
      <form>
        <ion-label>Sort By:</ion-label>
        <ion-item lines="none" class="input">
          <ion-select class="custom-options">
            <ion-select-option value="brown">Male</ion-select-option>
            <ion-select-option value="blonde">Female</ion-select-option>
            <ion-select-option value="black">Other</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- <ion-item lines="none">
          <ion-input formControlName="first_name" placeholder="Alex" type="text" required></ion-input>
        </ion-item> -->
        <ion-label>Category:</ion-label>
        <ion-grid class="category">
          <ion-row>
            <ion-col size="6">
              <div class="list active">Benarasi Saree</div>
            </ion-col>
            <ion-col size="6">
              <div class="list">Fancy Silk</div>
            </ion-col>
            <ion-col size="6">
              <div class="list">Snaveli Silk</div>
            </ion-col>
            <ion-col size="6">
              <div class="list">Yashvi Silk</div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-label>Color:</ion-label>
        <ion-grid class="color">
          <div class="list red active"></div>
          <div class="list green"></div>
          <div class="list blue"></div>
          <div class="list yellow"></div>
          <div class="list black"></div>
          <div class="list pink"></div>
          <div class="list white"></div>
          <div class="list navy active"></div>
        </ion-grid>
      </form>

      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-router-link class="wishlink price" href="#">RESET</ion-router-link>
            </ion-col>
            <ion-col size="7">
              <ion-router-link class="btn-primary" color="danger" href="#">Apply filters</ion-router-link>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </div>
  </div>
</ion-content>
