<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons> -->
    <ion-title>Product Details</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="productDetails">
      <ion-slides id="Product">
        <ion-slide>
          <div class="slide">
            <img src="../assets/slide01.jpg" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../assets/slide01.jpg" />
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img src="../assets/slide01.jpg" />
          </div>
        </ion-slide>
      </ion-slides>
      <div class="details">
        <h2>Floral print skirt with white top</h2>
        <p>Black, off-white and peach-coloured printed flared skirt, has zip closure, attached lining</p>
        <ion-text class="rating"></ion-text>
        <ion-text class="price">
          $32.00 <del>$35.00</del> <span>(20% off)</span>
        </ion-text>
        <p>Inclusive of all taxes</p>
      </div>
      <hr>
      <div class="secHeading">Select Color:</div>
      <ion-list class="color">
      </ion-list>
      <div class="secHeading">Quantity:</div>
      <ion-list class="quantity">
      </ion-list>
      <hr>
      <div class="secHeading">Return & Exchange Policy</div>
      <p>This product is eligible for returns and size replacements. Please initiate returns/replacements from the 'My Orders' section in the App within 7 days of delivery. Please ensure the product is in its original condition with all tags attached.</p>
      <hr>
      <div class="secHeading">Product Details</div>
      <p>Black, off-white and peach-coloured printed flared skirt, has zip closure, attached lining</p>
      <div class="secHeading">Model Size & Fit</div>
      <p>The model (height 5'8") is wearing a size 28</p>
      <div class="secHeading">Material & Care</div>
      <p>100% polyester, Machine-wash</p>
      <div class="secHeading">Product Code</div>
      <p>460356366_floral</p>
      <hr>
      <div class="secHeading">Check Delivery</div>
      <p>Enter Pincode to check delivery date / pickup option</p>
      <form>
        <ion-item lines="none" class="input zip">
          <ion-input type="text" placeholder="Pin code" required></ion-input>
        </ion-item>
      </form>

      <ion-list class="iconList">
        <div class="icon"><i class="las la-truck"></i></div><p>Free Delivery on order above $200.00</p>
      </ion-list>
      <ion-list class="iconList">
        <div class="icon"><i class="las la-wallet"></i></div><p>Cash On delivery Available</p>
      </ion-list>
      <ion-list class="iconList">
        <div class="icon"><i class="las la-exchange-alt"></i></div><p>Easy 21 days returns and exchanges</p>
      </ion-list>
      <hr>
      <div class="secHeading">Similar Products</div>
      <ion-slides id="similarProducts">
        <ion-slide>
          <div class="slide">
            <div class="wish"><i class="las la-heart"></i></div>
            <img src="../assets/slide01.jpg" />
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹132.00<del>₹235.00</del><span>20%</span></h4>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="wish"><i class="las la-heart"></i></div>
            <img src="../assets/slide01.jpg" />
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="wish"><i class="las la-heart"></i></div>
            <img src="../assets/slide01.jpg" />
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <div class="wish"><i class="las la-heart"></i></div>
            <img src="../assets/slide01.jpg" />
            <div class="content">
              <h3>Pink Hoodie t-shirt full</h3>
              <p>by Mango</p>
              <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
            </div>
          </div>
        </ion-slide>
      </ion-slides>

      <div class="pageLink">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-router-link class="wishlink" href="#"><i class="las la-heart"></i> WISHLIST</ion-router-link>
            </ion-col>
            <ion-col size="6">
              <a class="cartlink" color="danger" [routerLink]="['/cart']"><i class="las la-shopping-cart"></i> ADD TO BAG</a>
              <!-- <ion-router-link class="cartlink" color="danger" href="#"><i class="las la-shopping-cart"></i> ADD TO BAG</ion-router-link> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    </div>
  </div>
</ion-content>
