<ion-grid>
  <ion-row>
    <ion-col class="verticalProduct">
      <div class="wish"><i class="las la-heart"></i></div>
      <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
      <div class="content">
        <h3>Pink Hoodie t-shirt full</h3>
        <p>by Mango</p>
        <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
      </div>
    </ion-col>
    <ion-col class="verticalProduct">
      <div class="wish"><i class="las la-heart"></i></div>
      <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
      <div class="content">
        <h3>Pink Hoodie t-shirt full</h3>
        <p>by Mango</p>
        <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
      </div>
    </ion-col>
    <ion-col class="verticalProduct">
      <div class="wish"><i class="las la-heart"></i></div>
      <div class="thumb"><img src="../assets/slide01.jpg" alt=""></div>
      <div class="content">
        <h3>Pink Hoodie t-shirt full</h3>
        <p>by Mango</p>
        <h4>₹32.00<del>₹35.00</del><span>20%</span></h4>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>